#container {
  width: 100%;
  background-color: rgb(236, 236, 231);
}

#parent {
  display: flex;
}

#containerTwo {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
#hidedisabled {
  font-size: 20px;
  position: relative;
  width: 20%;
}

#saveduser {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 98, 255);

  position: absolute;
  right: 0;
}

#newuser {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 98, 255);
  position: relative;
}

#show {
  text-align: center;

  width: 100%;
}
th {
  border-right: 1px solid white;
  background: rgb(51, 98, 255);
  color: #fff;
}
#table {
  width: 50%;
  margin-right: 10px;
}
tr:hover {
  background-color: rgb(236, 236, 231);
  color: rgb(71, 70, 70);
}

#formParent {
  width: 50%;
}

#check {
  display: inline-block;
  white-space: nowrap;
}
#enabledChck {
  width: 10%;
  position: relative;
}

label {
  width: 17%;
  display: inline-block;
  margin: 6px;
}
h2 {
  background-color: rgb(236, 236, 231);
}

#form {
  border: 1px solid black;
  box-shadow: 1px 1px #030303;
  font-size: 15px;
  position: relative;
  right: 1%;
  width: 100%;
}

#save {
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(51, 98, 255);
  margin-top: 30px;
  position: absolute;
  top: 7px;
  left: 40px;
}

.input {
  font-size: 16px;
  position: relative;
  left: 340px;
  top: 75px;
}
input {
  width: 80%;
  position: absolute;
  right: 1px;
}
